<p id="notice"><%= notice %></p>
<h3><a class='inicio' href="/DS11">Inicio</a></h3><br>
<h1>Tiendas</h1>

<table>
  <thead>
    <tr class="cabecera_tabla">
    <th>Id</th>
      <th>Ubicación</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tiendas.each do |tienda| %>
      <tr class="datos_tabla">
        <td><%= tienda.id %></td>
        <td><%= tienda.ubicacion %></td>
        <td><%= link_to 'Mostrar', tienda, class: 'btn4' %></td>
        <td><%= link_to 'Editar', edit_tienda_path(tienda), class: 'btn4' %></td>
        <td><%= link_to 'Borrar', tienda, method: :delete, data: { confirm: '¿Seguro que quieres eliminar la tienda?' }, class: 'btn4' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Añadir Tienda', new_tienda_path, class: 'btn3' %>
